body {
  background-color: #feffff;
  color: #222222;
}

.canvas {
  border: 0.05rem solid #aaaaaa;
  touch-action: none;
}

.stroke-width {
  width: 7%;
  height: 1.75rem;
}

.copy-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.form-control {
  flex: 1 !important;
}

.copy {
  cursor: copy;
}

.container {
  margin-bottom: 2rem !important;
}

.text-muted {
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

a {
  text-decoration: none !important;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & div {
    max-width: calc(100% - 2rem);
    width: 20rem;
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }

  .redo {
    background-color: #ff8c00;
  }

  .redo:hover,
  .redo:focus {
    background-color: #e67e00;
  }

  .reset {
    background-color: #ff4c4c;
  }

  .reset:hover,
  .reset:focus {
    background-color: #e04343;
  }

  .save {
    background-color: #28a745;
  }

  .save:hover,
  .save:focus {
    background-color: #218838;
  }

  .generate {
    width: 100%;
    margin-bottom: 1rem;
  }

  & button:not(.generate) {
    flex: 1;
  }
}

button {
  border: none;
  border-radius: 0.5rem !important;
  font-size: 16px;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  transition: 300ms ease;
  color: #fff;

  &.primary {
    background-color: #007bff;
  }

  &.primary:hover,
  &.primary:focus {
    background-color: #0069d9;
  }

  &.success {
    background-color: #28a745;
  }

  &.success:hover,
  &.success:focus {
    background-color: #218838;
  }
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  background: #1081f9;
  margin: 3rem 1rem 1rem 1rem;
  color: #fff;
  border-radius: 1rem;

  & a {
    color: #fff;
    transition: 300ms ease;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  & pre {
    background: #222222;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &>div {
    width: 20rem;
    max-width: calc(100% - 2rem);
    border: 1px solid #cfcfcf;
    border-radius: 0.5rem;
  }

  & input[type="range"] {
    width: calc(100% - 3rem);
    margin: 0 0.5rem;
  }

  .title {
    border-bottom: 1px solid #cfcfcf;
    padding: 0.5rem 0.7rem;
  }

  .content {
    padding: 0.8rem 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    & button {
      background-color: #007bff;
      width: 100%;
    }

    &>div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
    }
  }
}

canvas {
  max-width: 100dvw;
}

.design_code {
  display: flex;
  justify-content: center;
  align-items: center;

  &>div {
    width: 20rem;
    max-width: calc(100% - 2rem);

    & input {
      margin-bottom: 1rem;
    }

    & button {
      width: 100%;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 14px;
      opacity: 0.7;
      text-align: center;
    }
  }
}

.use_design {
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    max-width: calc(100% - 2rem);
    width: 20rem;
  }
}