body {
  background-color: #feffff;
  color: #222222;
}

.canvas {
  border: 0.05rem solid #aaaaaa;
  touch-action: none;
  max-width: 100dvw;
}

.stroke-width {
  width: 7%;
  height: 1.75rem;
}

.copy-btn,
.discord,
.github {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.form-control {
  flex: 1 !important;
}

.copy {
  cursor: copy;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem !important;
}

.container > div {
  width: 20rem;
  max-width: calc(100% - 2rem);
  border: 1px solid #cfcfcf;
  border-radius: 0.5rem;
}

.container input[type="range"] {
  width: calc(100% - 3rem);
  margin: 0 0.5rem;
}

.container .title {
  border-bottom: 1px solid #cfcfcf;
  padding: 0.5rem 0.7rem;
}

.container .content {
  padding: 0.8rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.container .content button {
  background-color: #007bff;
  width: 100%;
}

.container .content > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.text-muted {
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

a {
  text-decoration: none !important;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actions div {
  max-width: calc(100% - 2rem);
  width: 20rem;
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.actions button:not(.generate) {
  flex: 1;
}

.actions .generate {
  width: 100%;
  margin-bottom: 1rem;
}

.actions .undo {
  background-color: #ff8c00;
}

.actions .undo:hover,
.actions .undo:focus {
  background-color: #e67e00;
}

.actions .reset {
  background-color: #ff4c4c;
}

.actions .reset:hover,
.actions .reset:focus {
  background-color: #e04343;
}

.actions .save {
  background-color: #28a745;
}

.actions .save:hover,
.actions .save:focus {
  background-color: #218838;
}

button {
  border: none;
  border-radius: 0.5rem !important;
  font-size: 16px;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  transition: 300ms ease;
  color: #fff;
}

button.primary {
  background-color: #007bff;
}

button.primary:hover,
button.primary:focus {
  background-color: #0069d9;
}

button.success {
  background-color: #28a745;
}

button.success:hover,
button.success:focus {
  background-color: #218838;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
  background: #1081f9;
  margin: 3rem 1rem 1rem 1rem;
  color: #fff;
  border-radius: 1rem;
}

footer a {
  color: #fff;
  transition: 300ms ease;
}

footer a:hover {
  text-decoration: underline !important;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.code pre {
  background: #222222;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
}

.design_code {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design_code > div {
  width: 20rem;
  max-width: calc(100% - 2rem);
}

.design_code input {
  margin-bottom: 1rem;
}

.design_code button {
  width: 100%;
  margin-bottom: 1rem;
}

.design_code p {
  font-size: 14px;
  opacity: 0.7;
  text-align: center;
}

.use_design {
  display: flex;
  justify-content: center;
  align-items: center;
}

.use_design button {
  max-width: calc(100% - 2rem);
  width: 20rem;
}